<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=520, initial-scale=1">
    <title>{{ title }}</title>
    <style>
      body {
        font-family: monospace;
        white-space: pre-wrap;
        max-width: 70ch;
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-color: black;
          color: white;
        }

        a {
          color: orange;
        }

        a:visited {
          color: yellow;
        }
      }
    </style>
  </head>
  <body>{{ content | safe }}</body>
</html>
